# ==============================================================================
# Cache, Environment, and System Junk (Do NOT track)
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.vscode/
.venv/
venv/
ENV/
env/
.DS_Store
Thumbs.db

# ==============================================================================
# Simulation Outputs & Local Visualizations
# ==============================================================================
outputs/
viz/
*.png
*.jpg
*.jpeg
*.mp4

# ==============================================================================
# Heavy Raw Datasets & Database Dumps (Bypassed for GitHub 100MB limits)
# ==============================================================================
data/drugbank
data/drugbank.xml
data/normal_ihc_data.tsv
data/rna_tissue_consensus.tsv
data/BDB-mySQL*
data/BDB-mysql*
data/BDB-mySQL_All_202604_dmp
# ==============================================================================
# Data Whitelist (Allow ONLY your sample configuration files)
# ==============================================================================
# 1. Ignore general files at the root of the data folder
data/*

# 2. Re-open access to the subfolders so Git can read inside them
!data/drugs/
!data/tissues/

# 3. Tell Git to ignore everything inside those subfolders by default
data/drugs/*


!data/drugs/caffeine.yaml
!data/drugs/amphetamine.yaml
!data/drugs/betaxolol.yaml
!data/drugs/glipizide.yaml


notebooks/02_analysis.ipynb 
notebooks/03_full_pipeline_test2.ipynb
notebooks/03_full_pipeline_test3.ipynb
notebooks/03_full_pipeline_test.ipynb

new.py
build/*
paper.md 
Runs/*
